
/* Footer */

.footer{
    background-color: #2a303b;
    color: white !important;
}

.footer-title{
    font-size: 1.4rem;
}

.footer a{
    font-size: 1.3rem;
}

.footer-container{
    max-width: 1000px;
    justify-content: center;
}

.footer-separator {
    width: 100%;
    height: 1px;
    margin-bottom: 0;
    background-color: #ccc;
    justify-self: center;
}

.accordion-button {
    font-size: 1.4rem;
    padding-bottom: 0;
    padding-left: 1px;
    padding-right: 1px;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
    border-bottom: none;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
}

.accordion-button::after {
    content: "+";
    font-size: 1.6rem;
    color: white;
    align-content: center;
    background-image: none !important;
    transform: none !important;
}

.accordion-button:not(.collapsed)::after {
    content: "-";
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 767px){

    .footer {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .footer {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {

    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}



/* Footer social */

.footer-social{

}

@media (max-width: 1023px) {
    .footer-social {
        justify-self: start;
    }

    .footer-social ul {
        justify-self: start;
        padding-left: 0;
    }

    .footer-social ul li {
        width: 50%;
    }

    .footer-social-link:hover{
        text-decoration: underline;
    }

}

@media (min-width: 1024px) {
    .footer-social {
        justify-self: center;
        justify-content: center;
    }

    .footer-social-link {
        margin-right: 2px;
    }

    .footer-social-link:hover{
        text-decoration: underline;
    }

    .footer-social p {
        text-align: center;
    }

    .footer-social ul {
        padding-left: 0;
    }

}

.footer-social p {
    margin-bottom: 0;
}

/* Footer mandatory */

.footer-mandatory {
    border-top: #6c757d 1px solid;
    border-bottom: #6c757d 1px solid;
    width: 100%;
}

@media (max-width: 1023px) {

    .footer-mandatory {
        justify-self: start;
    }

    .footer-mandatory ul {
        justify-self: start;
        padding-left: 1.5rem;
    }

    .footer-mandatory ul li {
        width: 50%;
    }

    .footer-mandatory-link:hover{
        text-decoration: underline;
    }
}

@media (min-width: 1024px) {

    .footer-mandatory-link {
        margin-right: 2px;
    }

    .footer-mandatory {
        justify-self: center;
        justify-content: center;
        text-align: center;
        max-width: 1097px !important;
    }

    .footer-mandatory-link:hover{
        text-decoration: underline;
    }

    .footer-mandatory ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-left: 0;
        list-style-position: inside;
    }

    .custom-horizontal-list li {
        display: list-item;
        text-align: center;
    }
}

.footer-mandatory p {
    margin-bottom: 0;
}

/* Footer main */

@media (max-width: 1023px) {

    .footer-main {
        flex-direction: column;

    }
}

@media (min-width: 1024px){

    .footer-main {
        align-self: center;
        justify-self: center;
        width: 1000px;
    }

}

/* Footer categories */

.category-title{
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.category-list {
    list-style: disc outside;
}

@media (max-width: 767px){

    .footer-categories{
        padding-bottom: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .footer-categories{
        border-bottom: #6c757d 1px solid;
    }

    .category-title-button{
        display: none;
    }
}

@media (min-width: 768px) {
    .footer-categories {
        column-count: 3;
        column-gap: 8px;
        padding-bottom: 16px;
        margin-bottom: 12px;
    }
    .footer-categories > * {
        break-inside: avoid;
        margin-bottom: 20px;
    }
}

@media (min-width: 1024px){


    .footer-categories{
        margin-left: 1rem;
        margin-right: 1rem;
        padding-bottom: 0;
    }
}

/* Footer utils */

.footer-utils-subs{
    padding-top: 12px;
}

.footer-mobiles a:first-of-type{
    padding-right: 4px;

    border-right: 1px solid white;
}

@media (min-width: 768px) and (max-width: 1023px) {

    .footer-utils-icon-links{
        display:flex;
    }

    .footer-utils-separator{
        display: none;
    }

}