/* general-section */

.general-section-link, .general-section-link-middle{
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
}

.general-section-link-middle{
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid lightgray;
    margin-right: 8px;
    padding-right: 8px;
    border-right: 1px solid lightgray;
}

.general-section-divider{
    background-color: lightgray;
    width: 1px;
    height: 100%;
}

.general-section-link:hover, .general-section-link-middle:hover{
    color: var(--hover-blue);
    cursor: pointer;
}

.general-section-content{
    margin-top: 16px;
}

.general-section-main-article-title{
    font-size: 1.6rem;
    font-weight: 500;
}

.general-section-article-image{
    width: 100%;
    height: auto;
}

.general-section-related-articles{
    font-weight: 500;
}

.general-section-article{
    border-bottom: 1px lightgrey solid;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.general-section-article a{
    cursor: pointer;
}

@media (max-width: 1023px){

    .general-section-main-article{
        border-bottom: 1px lightgrey solid;
        padding-bottom: 8px;
        margin-bottom: 16px;
    }

    .general-section-main-article .image-credits{
        margin-top: 12px;
    }

    .general-section-article-title{
        font-size: 1.5rem;
    }

}

@media (min-width: 1024px) {

    .general-section-related-articles .last-row-lg{
        border-bottom: 0;
    }

    .general-section-content{
        display: flex;
        justify-content: space-between;
    }

    .general-section-main-article {
        width: 300px;
        margin-bottom: 24px;
    }


    .general-section-main-article-image{
        width: 100%;
    }

    .general-section-related-articles{
        width: 636px;
        column-count: 2;
        align-items: start;
        gap: 16px;
    }


    .general-section-article-title{
        font-size: 1.6rem;
    }
}