/* selection-section */

.selection-section-divider{
    height: 1px;
    background-color: #ccc;
    width: 100%;
}

@media (min-width: 1024px){

    .selection-section-title{
        margin-bottom: 16px;
    }

    .selection-section-divider{
        display: none;
    }
}

@media (max-width: 1023px){

    .selection-section-title{
        margin-bottom: 0;
    }

    .selection-section-article{
        padding-top: 16px;
    }
}

/* selection-section-container */

.selection-section-container{
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 1023px){

    .selection-section-container{
        justify-content: center;
    }
}

@media (min-width: 1024px){

    .selection-section-container{
        justify-content: space-between;
    }
}

/* selection-section-article */

.selection-section-article p{
    text-align: center;
}

.selection-section-article-type{
    font-size: 1.3rem;
    font-weight: 600;
}

.selection-section-article-author{
    font-size: 1.3rem;
    opacity: 0.75;
}

.selection-section-article-title{
    font-size: 1.6rem;
    font-weight: 600;
}

.selection-section-article-description{
    font-size: 1.5rem;
    opacity: 0.7;
}

.selection-section-article-footer{
    opacity: 0.75;
    align-self: end;
    text-align: center;
}

.selection-section-article-text {
    background-color: white;
    color: black;
    justify-self: center;
    transform: translateY(-30%);
}

.selection-section-article-image{
    width: 100%;
}

@media (max-width: 1023px){

    .selection-section-article{
        align-self: center;
        width: 100%;
    }

}

@media (min-width: 1024px){

    .selection-section-article{
        border: 1px lightgrey solid;
        width:300px;
    }

}